@import url("reset.css");

html::before {
	content: ' ';
	height: 40px;
	background-color: rgba(0, 0, 0, .65);
	display: block;
	border-bottom: 2px solid #ff9e5d;
	position: absolute;
	width: 100%;
	z-index: 2;
}

html {
font-family: 'Economica', sans-serif;	

}

header {
	width: 960px;
	margin: 0 auto;
	padding: 5px ;
	font-size: 24px;
	color: #fff;
	z-index: 3;
	position: relative;
}

header a {
	color: #fff;
	text-decoration: none;
}

header a:hover {
	color: #a1d83b;
}

#content {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

nav {
	width: 360px;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	top: -34px;
	right: 120px;
}

nav ul li a {
	float: left;
	text-align: center;
	width: 90px;
	height: 85px;
	padding-top: 80px;
	font-size: 24px;
	color: #484848;
	text-decoration: none;
}

nav #contact a {
	background-color: #e0e0e0;
}

nav #price a {
	background-color: #f4f4f4;
}

nav #portfolio a {
	background-color: #a9a8a7;
}

nav #blog a {
	background-color: #dddcdc;
}

nav ul li a:hover {
	color: #fff;
}

nav #contact a:hover {
	background-color: #a1d83b;
}

nav #price a:hover {
	background-color: #c8ea85;
}

nav #portfolio a:hover {
	background-color: #2f2f2f;
}

nav #blog a:hover {
	background-color: #76b600;
}

