@import url("reset.css");

html::before {
	content: ' ';
	height: 40px;
	background-color: rgba(0, 0, 0, .65);
	display: block;
	border-bottom: 2px solid #ff9e5d;
	position: absolute;
	width: 100%;
	z-index: 4;
}

html {
	font-family: 'Economica', sans-serif;
	position: relative;
	min-height: 100%;	
}

body {
	margin: 0 0 40px 0;
}

header {
	width: 960px;
	margin: 0 auto;
	padding: 5px ;
	font-size: 24px;
	color: #fff;
	z-index: 5;
	position: relative;
}

header a {
	color: #fff;
	text-decoration: none;
}

header a:hover {
	color: #a1d83b;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

nav {
	width: 360px;
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: -34px;
	right: 120px;
}

nav ul li a {
	float: left;
	text-align: center;
	width: 90px;
	height: 85px;
	padding-top: 80px;
	font-size: 24px;
	color: #484848;
	text-decoration: none;
}

nav #kontakt a {
	background-color: #e0e0e0;
}

nav #pris a {
	background-color: #f4f4f4;
}

nav #portefolje a {
	background-color: #a9a8a7;
}

nav #blogg a {
	background-color: #dddcdc;
}

nav ul li a:hover,
nav ul li.active a {
	color: #fff;
}

nav #kontakt a:hover, 
nav #kontakt.active a {
	background-color: #a1d83b;
}

nav #pris a:hover, 
nav #pris.active a {
	background-color: #84cc00;
}

nav #portefolje a:hover,
nav #portefolje.active a {
	background-color: #2f2f2f;
}

nav #blogg a:hover,
nav #blogg.active a {
	background-color: #76b600;
}

#portfolio-menu {
	width: 1200px;
	margin: 0 auto;
}

#portfolio-menu li {
	float: left;
	margin-bottom: 40px;
}

#portfolio-menu li a {
	text-decoration: none;
	color: #484848;
	font-size: 24px;
	display: block;
	text-align: center;
	padding-top: 110px;
	width: 171px;
	height: 61px;
	transition: all 0.3s;
	background-size: 171px 171px;
	background-position: 0px 0px;
}

#portfolio-menu li a:hover {
	background-size: 181px 181px;
	background-position: -2px -2px;
}

#portfolio-menu li a span {
	content: '';
	display: block;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
}

#portfolio-menu li a:hover span,
#portfolio-menu li.active a span {
	color: #fff;
}

#portfolio-menu .akt a {
	background-image: url(../images/akt.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .kunstfotografi a {
	background-image: url(../images/artphoto.png);	
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);	
}

#portfolio-menu .bedrift a {
	background-image: url(../images/bedrift.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}
#portfolio-menu .bryllup a {
	background-image: url(../images/bryllup.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .mote a {
	background-image: url(../images/fashion.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .modellportefolje a {
	background-image: url(../images/modellportefolje.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .portrett a {
	background-image: url(../images/portrett.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .akt a span {
	background-color: #d9d9d9;
}

#portfolio-menu .kunstfotografi a span {
	background-color: #f2f2f2;
}

#portfolio-menu .bedrift a span {
	background-color: #f8f8f8;
}

#portfolio-menu .bryllup a span {
	background-color: #dddddd;
}

#portfolio-menu .mote a span {
	background-color: #c7c6c6;
}

#portfolio-menu .modellportefolje a span {
	background-color: #b4b4b4;
}

#portfolio-menu .portrett a span {
	background-color: #e3e2e2;
}

#portfolio-menu .redaksjonelt a span {
	background-color: #d2d2d2;
}

#portfolio-menu .studio a span {
	background-color: #c0c0c0;
}

#portfolio-menu .akt a:hover,
#portfolio-menu .akt.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

#portfolio-menu .kunstfotografi a:hover,
#portfolio-menu .kunstfotografi.active a  {
	filter: greyscale (0%);
	-webkit-filter: grayscale(0%);		
}

#portfolio-menu .bedrift a:hover,
#portfolio-menu .bedrift.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);		
}

#portfolio-menu .bryllup a:hover,
#portfolio-menu .bryllup.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);		
}

#portfolio-menu .mote a:hover,
#portfolio-menu .mote.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

#portfolio-menu .modellportefolje a:hover,
#portfolio-menu .modellportefolje.active a {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

#portfolio-menu .portrett a:hover,
#portfolio-menu .portrett.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

#portfolio-menu .akt a:hover span,
#portfolio-menu .akt.active a span {
	background-color: #b088ec;
}

#portfolio-menu .kunstfotografi a:hover span,
#portfolio-menu .kunstfotografi.active a span {
	background-color: #ffe827;
}

#portfolio-menu .bedrift a:hover span,
#portfolio-menu .bedrift.active a span {
	background-color: #ff9e5d;
}

#portfolio-menu .bryllup a:hover span,
#portfolio-menu .bryllup.active a span {
	background-color: #e39fc6;
}

#portfolio-menu .mote a:hover span,
#portfolio-menu .mote.active a span {
	background-color: #75adf2;
}

#portfolio-menu .modellportefolje a:hover span,
#portfolio-menu .modellportefolje.active a span {
	background-color: #ff4d4d;
}

#portfolio-menu .portrett a:hover span,
#portfolio-menu .portrett.active a span {
	background-color: #fe97ff;
}

body.modellportefolje article,
body.blogg article {
	width: 400px;
	height: 400px;
	float: left;	
}

body.modellportefolje article a,
body.blogg article a {
	width: 400px;
	height: 400px;
	display: inline-block;
	color: #484848;
	text-align: center;
	font-size: 27px;
	transition: all 0.3s;
	background-size: 400px 400px;
	background-position: 0px 0px;
}

body.modellportefolje article a span,
body.blogg article a span {
	margin-top: 290px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #b4b4b4;
	display: block;
}

body.modellportefolje article a:hover,
body.blogg article a:hover {
	background-size: 420px 420px;
	background-position: -10px -10px;
}

body.modellportefolje article a:hover span {
	background-color: #ff4d4d;
	color: #fff;
}

body.blogg article a:hover span {
	background-color: #5f9200;
	color: #fff;
}

body.blogg article a time {
	font-size: 14px;
}

body.modellportefolje.single #page {
	background-color: #2f2f2f;	
}

body.modellportefolje.single article,
body.blogg.single article {
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	float: none;
}

body.modellportefolje.single article a,
body.blogg.single article a {
	height: 100%;
	width: 1200px;
	color: #fff;
	text-align: left;
}

#slideshow {
	position: relative;
	top: 104;
	right: 0;
	height: 945px;
}

#slideshow li a {
	text-decoration: none;
	color: #fff;
	font-size: 30px;	
	display: block;	
	position: absolute;
}

#slideshow li a:hover::before {
	display: block;
	content: ' ';
	background-color: rgba(255, 255, 255, 0.14);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#slideshow li:nth-child(1) a {
	width: 745px;
	height: 745px;
	background-image: url(../images/slideshow-art-1.jpg);
	top: 100px;
	right: 0;
}

#slideshow li:nth-child(2) a {
	width: 460px;
	height: 460px;
	background-image: url(../images/slideshow-studio-1.jpg);
	top: 100px;
	right: 745px;	
}

#slideshow li:nth-child(3) a {
	width: 280px;
	height: 285px;
	background-image: url(../images/slideshow-bry-1.jpg);
	top: 560px;
	right: 925px;		
}

#slideshow li:nth-child(4) a {
	width: 180px;
	height: 165px;
	background-image: url(../images/slideshow-fash-1.jpg);
	top: 680px;
	right: 745px;	
}

#slideshow li:nth-child(5) a {
	width: 110px;
	height: 120px;
	background-image: url(../images/slideshow-bedr-1.jpg);
	top: 560px;
	right: 745px;	
}

#slideshow li:nth-child(6) a {
	width: 70px;
	height: 120px;
	background-image: url(../images/slideshow-akt-1.jpg);
	top: 560px;
	right: 855px;	
}

#slideshow li a span {
	display: none;
	height: 50px;
	text-align: right;
	padding-right: 20px;
	padding-top: 15px;
}

#slideshow li a:hover span {
	display: block;
	position: relative;
	z-index: 2;	
}

#slideshow li:nth-child(1) a span {
	background-color: #ffe827;
	margin-top: 630px;
}

#slideshow li:nth-child(2) a span {
	background-color: #88e169;
	margin-top: 350px;
}

#slideshow li:nth-child(3) a span {
	background-color: #44dedc;
	margin-top: 170px;
}

#slideshow li:nth-child(4) a span {
	background-color: #75adf2;
	margin-top: 50px;
}

#slideshow li:nth-child(5) a span {
	background-color: #ff9e5d;
	margin-top: 35px;
}

#slideshow li:nth-child(6) a span {
	background-color: #b088ec;
	margin-top: 35px;
}

#page {
	background-color: #a1d83b;
	margin: 107px 0 141px 0;
	padding: 60px 0;
}

#page::after {
	content: ' ';
	clear: both;
	display: block;
}

body.kontakt #page {
	background-color: #a1d83b;
}

body.kontakt #page article p:first-of-type {
	float: right;
	margin-left: 1em;
}

body.kontakt #page br.clear {
	clear: right;
}

body.pris #page {
	background-color: #84cc00;
}

body.pris p, body.pris table {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 17px;
}

body.pris h2 {
	font-size: 22px;
	font-weight: 700;
}

body.pris table {
	margin-bottom: 20px;
}

body.blogg #page {
	background-color: #76b600;
} 

body.portefolje #page {
	background-color: #2f2f2f;	
}

#media .overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	background: rgba(0,0,0,0.8);
	text-align: center;
}

#media .overlay img {
	max-height: 100%;
	max-width: 100%;	
}

#media .overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding-top: 40px;
	padding-bottom: 100px;
}

#media nav {
	margin-top: 20px;
	position: relative;
	height: 40px;
}

#media .prev a {
	position: absolute;
	left: 55%;
	width: 50px;
	height: 50px;
	background: url(../images/navigation-lightbox.png) no-repeat top left;
	padding: 0;
}

#media .next a {
	position: absolute;
	left: 95%;
	width: 50px;
	height: 50px;
	background: url(../images/navigation-lightbox.png) no-repeat top right;
	padding: 0;
}

#media .close a {
	position: absolute;
	left: 75%;
	width: 50px;
	height: 50px;
	background: url(../images/navigation-lightbox.png) no-repeat -50px 0;
	padding: 0;
}

article {
	width: 1200px;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	line-height: 1.2;
}

article h1 {
	font-size: 30px;
	padding-bottom: 5px;
}

article p {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 1em;
}

article a {
	color: #fff;
	text-decoration: none;
}

article a:hover {
	color: rgba(0, 0, 0, .65);
}

article #body {
	margin-bottom: 20px;
}

article ul#media li a {
	width: 400px;
	height: 400px;
	float: left;
}

article ul#media li a span {
	display: none;
}

h1.category-name {
	display: none;
}

footer {
	height: 30px;
	background-color: rgba(0, 0, 0, .65);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;	
	color: #fff;
	padding-top: 10px;
	border-top: 2px solid #ff9e5d;
}

footer a {
	text-decoration: none;
	color: #fff;
}

footer a:hover {
	color: #a1d83b;
}

footer img {
	padding: 0 5px;
}

/*@media screen and (max-width: 1024px) {
	.wrapper {
		width: 1024px;
	}
		
	#portfolio-menu {
		width: 1024px;
	}
		
	#portfolio-menu li a {
		width: 146px;
	}
	
	body.modellportefolje article,
	body.blogg article {
		width: 341px;
		height: 341px;
	}
	
	body.modellportefolje article a,
	body.blogg article a {
		width: 341px;
		height: 341px;
		background-size: 341px 341px;
	}
	
	body.modellportefolje article a:hover,
	body.blogg article a:hover {
		background-size: 361px 361px;
	}
	
	body.modellportefolje article a span,
	body.blogg article a span {
		margin-top: 250px;
		font-size: 21px;
	}
		
	body.blogg article a time {
		font-size: 14px;
	}
	
	
	body.modellportefolje.single article,
	body.blogg.single article {
		height: 100%;
		width: 1024px;
	}
	
	body.modellportefolje.single article a,
	body.blogg.single article a {
		height: 100%;
		width: 1024px;
	}

	article {
		width: 1024px;
	}
	
	article h1,
	article #body,
	article #metadata {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	article ul#media li a {
	    width: 341px;
	    height: 341px;
	}
}

@media screen and (max-width: 768px) {
	
	header {
		width: 768px;
	}
	.wrapper {
		width: 768px;
	}
	
	#portfolio-menu {
		width: 768px;
	}
	
	#portfolio-menu li {
		float: left;
		margin-bottom: 40px;
	}
	
	#portfolio-menu li a {
		font-size: 18px;
		padding-top: 70px;
		width: 109px;
		height: 39px;
		background-size: 109px 109px;
	}
	
	#portfolio-menu li a:hover {
		background-size: 119px 119px;
	}
	
	#portfolio-menu li a span {
		height: 15px;
		padding-top: 5px;
		padding-bottom: 10px;
	}
				
	body.modellportefolje article,
	body.blogg article {
		width: 256px;
		height: 256px;
	}
	
	body.modellportefolje article a,
	body.blogg article a {
		width: 256px;
		height: 256px;
		background-size: 256px 256px;
	}
	
	body.modellportefolje article a:hover,
	body.blogg article a:hover {
		background-size: 266px 266px;
	}
	
	body.modellportefolje article a span,
	body.blogg article a span {
		margin-top: 160px;
	}
		
	
	
	body.modellportefolje.single article,
	body.blogg.single article {
		height: 100%;
		width: 768px;
	}
	
	body.modellportefolje.single article a,
	body.blogg.single article a {
		height: 100%;
		width: 768px;
	}

	body.pris table {
		width: 768px;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	article {
		width: 768px;
	}
	
	article p {
		margin-left: 20px;
	}
	
	article h1,
	body.pris article h2,
	article #body,
	article #metadata {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	body.blogg article h1 {
		margin-left: 0;
	}
	
	article ul#media li a {
	    width: 256px;
	    height: 256px;
	}
	
	article iframe {
	width: 500px;
	}
	
}


@media screen and (max-width: 320px) {
		
}*/










