@import url("reset.css");

html::before {
	content: ' ';
	height: 40px;
	background-color: rgba(0, 0, 0, .65);
	display: block;
	border-bottom: 2px solid #63041a;
	position: absolute;
	width: 100%;
	z-index: 4;
}

html {
	font-family: 'Economica', sans-serif;
	position: relative;
	min-height: 100%;	
}

body {
	margin: 0 0 40px 0;
}

header {
	width: 960px;
	margin: 0 auto;
	padding: 5px ;
	font-size: 24px;
	color: #fff;
	z-index: 5;
	position: relative;
}

header a {
	color: #fff;
	text-decoration: none;
}

header a:hover {
	color: #8c9fa1;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.wrapper .category-description {
	color: #fff;
	margin-bottom: 40px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 17px;
}

nav {
	width: 360px;
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: -34px;
	right: 120px;
}

nav ul li a {
	float: left;
	text-align: center;
	width: 90px;
	height: 85px;
	padding-top: 80px;
	font-size: 24px;
	color: #484848;
	text-decoration: none;
}

nav #om a {
	background-color: #e0e0e0;
}

nav #pris a {
	background-color: #f4f4f4;
}

nav #portefolje a {
	background-color: #a9a8a7;
}

nav #blogg a {
	background-color: #dddcdc;
}

nav ul li a:hover,
nav ul li.active a {
	color: #fff;
}

nav #om a:hover, 
nav #om.active a {
	background-color: #6b7a7c;
}

nav #pris a:hover, 
nav #pris.active a {
	background-color: #778789;
}

nav #portefolje a:hover,
nav #portefolje.active a {
	background-color: #2f2f2f;
}

nav #blogg a:hover,
nav #blogg.active a {
	background-color: #606e6f;
}

#portfolio-menu {
	width: 1200px;
	margin: 0 auto;
}

#portfolio-menu li {
	float: left;
	margin-bottom: 40px;
}

#portfolio-menu li a {
	text-decoration: none;
	color: #484848;
	font-size: 24px;
	display: block;
	text-align: center;
	padding-top: 110px;
	width: 171px;
	height: 61px;
	transition: all 0.3s;
	background-size: 171px 171px;
	background-position: 0px 0px;
}

#portfolio-menu li a:hover {
	background-size: 181px 181px;
}

#portfolio-menu li a span {
	content: '';
	display: block;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
}

#portfolio-menu li a:hover span,
#portfolio-menu li.active a span {
	color: #fff;
}

#portfolio-menu .akt a {
	background-image: url(../images/akt.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .kunstfotografi a {
	background-image: url(../images/artphoto.png);	
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);	
}

#portfolio-menu .bransje a {
	background-image: url(../images/bransje.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}
#portfolio-menu .bryllup a {
	background-image: url(../images/bryllup.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .stemning a {
	background-image: url(../images/stemning.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .modellportefolje a {
	background-image: url(../images/modellportefolje.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .portrett a {
	background-image: url(../images/portrett.png);
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}

#portfolio-menu .akt a span {
	background-color: #d9d9d9;
}

#portfolio-menu .kunstfotografi a span {
	background-color: #f2f2f2;
}

#portfolio-menu .bransje a span {
	background-color: #f8f8f8;
}

#portfolio-menu .bryllup a span {
	background-color: #dddddd;
}

#portfolio-menu .stemning a span {
	background-color: #c7c6c6;
}

#portfolio-menu .modellportefolje a span {
	background-color: #b4b4b4;
}

#portfolio-menu .portrett a span {
	background-color: #e3e2e2;
}

#portfolio-menu .redaksjonelt a span {
	background-color: #d2d2d2;
}

#portfolio-menu .studio a span {
	background-color: #c0c0c0;
}

#portfolio-menu .akt a:hover,
#portfolio-menu .akt.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

#portfolio-menu .kunstfotografi a:hover,
#portfolio-menu .kunstfotografi.active a  {
	filter: greyscale (0%);
	-webkit-filter: grayscale(0%);		
}

#portfolio-menu .bransje a:hover,
#portfolio-menu .bransje.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);		
}

#portfolio-menu .bryllup a:hover,
#portfolio-menu .bryllup.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);		
}

#portfolio-menu .stemning a:hover,
#portfolio-menu .stemning.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

#portfolio-menu .modellportefolje a:hover,
#portfolio-menu .modellportefolje.active a {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

#portfolio-menu .portrett a:hover,
#portfolio-menu .portrett.active a  {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

#portfolio-menu .akt a:hover span,
#portfolio-menu .akt.active a span {
	background-color: #dfafa1;
}

#portfolio-menu .kunstfotografi a:hover span,
#portfolio-menu .kunstfotografi.active a span {
	background-color: #63041a;
}

#portfolio-menu .bransje a:hover span,
#portfolio-menu .bransje.active a span {
	background-color: #ff9e5d;
}

#portfolio-menu .bryllup a:hover span,
#portfolio-menu .bryllup.active a span {
	background-color: #b2acce;
}

#portfolio-menu .stemning a:hover span,
#portfolio-menu .stemning.active a span {
	background-color: #245e72;
}

#portfolio-menu .modellportefolje a:hover span,
#portfolio-menu .modellportefolje.active a span {
	background-color: #ffe827;
}

#portfolio-menu .portrett a:hover span,
#portfolio-menu .portrett.active a span {
	background-color: #7f9193;
}

body.kunstfotografi.portefolje #media li a,
body.portrett.portefolje #media li a,
body.bryllup.portefolje #media li a,
body.stemning.portefolje #media li a,
body.bransje.portefolje #media li a,
body.akt.portefolje #media li a,
body.modellportefolje article,
body.blogg article {
	width: 400px;
	height: 400px;
	float: left;	
}

body.kunstfotografi.portefolje #media > li > a,
body.portrett.portefolje #media > li > a,
body.bryllup.portefolje #media > li > a,
body.stemning.portefolje #media > li > a,
body.bransje.portefolje #media > li > a,
body.akt.portefolje #media > li > a,
body.modellportefolje article a,
body.blogg article a {
	width: 400px;
	height: 400px;
	display: inline-block;
	color: #484848;
	text-align: center;
	font-size: 27px;
	transition: all 0.3s;
	background-size: 400px 400px;
	background-position: 0px 0px;
}

body.kunstfotografi.portefolje #media li a span,
body.portrett.portefolje #media li a span,
body.bryllup.portefolje #media li a span,
body.stemning.portefolje #media li a span,
body.bransje.portefolje #media li a span,
body.akt.portefolje #media li a span {
	display: none;
}

body.modellportefolje article a span,
body.blogg article a span {
	margin-top: 290px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #b4b4b4;
	display: block;
}

body.kunstfotografi.portefolje #media > li > a:hover,
body.portrett.portefolje #media > li > a:hover,
body.bryllup.portefolje #media > li > a:hover,
body.stemning.portefolje #media > li > a:hover,
body.bransje.portefolje #media > li > a:hover,
body.akt.portefolje #media > li > a:hover,
body.modellportefolje article a:hover,
body.blogg article a:hover {
	background-size: 420px 420px;
}

body.modellportefolje article a:hover span {
	background-color: #ffe827;
	color: #fff;
}

body.blogg article a:hover span {
	background-color: #4f5a5b;
	color: #fff;
}

body.blogg article a time {
	font-size: 14px;
}

body.modellportefolje.single #page {
	background-color: #2f2f2f;	
}

body.modellportefolje.single article,
body.blogg.single article {
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	float: none;
}

body.modellportefolje.single article a,
body.blogg.single article a {
	height: 100%;
	width: 1200px;
	color: #fff;
	text-align: left;
}

#slideshow {
	position: relative;
	top: 104;
	right: 0;
	height: 945px;
}

#slideshow li a {
	text-decoration: none;
	color: #fff;
	font-size: 30px;	
	display: block;	
	position: absolute;
}

#slideshow li a:hover::before {
	display: block;
	content: ' ';
	background-color: rgba(255, 255, 255, 0.14);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#slideshow li:nth-child(1) a {
	width: 745px;
	height: 745px;
	top: 100px;
	right: 0;
}

#slideshow li:nth-child(2) a {
	width: 460px;
	height: 460px;
	top: 100px;
	right: 745px;	
}

#slideshow li:nth-child(3) a {
	width: 280px;
	height: 285px;
	top: 560px;
	right: 925px;		
}

#slideshow li:nth-child(4) a {
	width: 180px;
	height: 165px;
	top: 680px;
	right: 745px;	
}

#slideshow li:nth-child(5) a {
	width: 110px;
	height: 120px;
	top: 560px;
	right: 745px;	
}

#slideshow li:nth-child(6) a {
	width: 70px;
	height: 120px;
	top: 560px;
	right: 855px;	
}

@keyframes slideshow {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 1;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

#slideshow img {
	  position:absolute;
}

#slideshow li a img:nth-of-type(2) {
	animation-name: slideshow;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#slideshow li:nth-child(1) a img:nth-of-type(2) {
	animation-duration: 5s;
}

#slideshow li:nth-child(2) a img:nth-of-type(2) {
	animation-duration: 6s;
}

#slideshow li:nth-child(3) a img:nth-of-type(2) {
	animation-duration: 7s;
}

#slideshow li:nth-child(4) a img:nth-of-type(2) {
	animation-duration: 8s;
}

#slideshow li:nth-child(5) a img:nth-of-type(2) {
	animation-duration: 9s;
}

#slideshow li:nth-child(6) a img:nth-of-type(2) {
	animation-duration: 10s;
}

#slideshow li a span {
	display: none;
	height: 50px;
	width: 100%;
	padding-top: 15px;
	position: absolute;
	z-index: 2;
	text-align: center;
}

#slideshow li a:hover span {
	display: block;
}

#slideshow li:nth-child(1) a span {
	background-color: #63041a;
	margin-top: 630px;
}

#slideshow li:nth-child(2) a span {
	background-color: #7f9193;
	margin-top: 350px;
}

#slideshow li:nth-child(3) a span {
	background-color: #b2acce;
	margin-top: 170px;
}

#slideshow li:nth-child(4) a span {
	background-color: #245e72;
	margin-top: 50px;
}

#slideshow li:nth-child(5) a span {
	background-color: #ff9e5d;
	margin-top: 35px;
}

#slideshow li:nth-child(6) a span {
	background-color: #dfafa1;
	margin-top: 35px;
}

#page {
	background-color: #778789;
	margin: 107px 0 141px 0;
	padding: 60px 0;
}

#page::after {
	content: ' ';
	clear: both;
	display: block;
}

body.om #page {
	background-color: #6b7a7c;
}

body.om #page iframe {
	float: right;
	margin-left: 1em;
}

body.om #page br.clear {
	clear: right;
}

body.om form input,
body.om form textarea {
	height: 25px;
	width: 570px;
	border: 1px solid #fff;
	background-color: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

body.om form input[type=text]:focus,
body.om form input[type=email]:focus,
body.om form textarea:focus {
	outline: none;
	background-color: #8c9fa1;
}

body.om form input[type=submit] {
	display: block;
	width: 575px;
	height: 50px;
	background-color: transparent;
	border: 1px solid #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;;
	font-size: 17px;
	color: #fff;
}

body.om form input[type=submit]:hover {
	background-color: #8c9fa1;
}

body.pris #page {
	background-color: #778789;
}

body.pris #page article table td:first-child {
	padding-bottom: 10px;
}

body.pris p, body.pris table {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 17px;
}

body.pris h2 {
	font-size: 22px;
	font-weight: 700;
}

body.pris table {
	margin-bottom: 20px;
}

body.blogg #page {
	background-color: #606e6f;
} 

body.portefolje #page {
	background-color: #2f2f2f;
	min-height: 60vh;	
}

#media .overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	background: rgba(0,0,0,0.8);
	text-align: center;
}

#media .overlay img {
	max-height: 100%;
	max-width: 100%;	
}

#media .overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding-top: 40px;
	padding-bottom: 100px;
}

#media nav#lightbox {
	margin-top: 20px;
	position: relative;
	height: 40px;
}

#media nav#lightbox ul li.prev a {
	position: absolute;
	left: 55%;
	width: 50px;
	height: 50px;
	background: url(../images/navigation-lightbox.png) no-repeat top left;
	padding: 0;
}

#media nav#lightbox ul li.next a {
	position: absolute;
	left: 95%;
	width: 50px;
	height: 50px;
	background: url(../images/navigation-lightbox.png) no-repeat top right;
	padding: 0;
}

#media nav#lightbox ul li.close a {
	position: absolute;
	left: 75%;
	width: 50px;
	height: 50px;
	background: url(../images/navigation-lightbox.png) no-repeat -50px 0;
	padding: 0;
}

article {
	width: 1200px;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	line-height: 1.2;
}

article h1 {
	font-size: 30px;
	padding-bottom: 5px;
}

article p {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 1em;
}

article a {
	color: #fff;
	text-decoration: none;
}

article a:hover {
	color: rgba(0, 0, 0, .65);
}

article #body {
	margin-bottom: 20px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 17px;
}

article ul#media li a {
	width: 400px;
	height: 400px;
	float: left;
}

article ul#media li a span {
	display: none;
}

h1.category-name {
	display: none;
}

footer {
	height: 30px;
	background-color: rgba(0, 0, 0, .65);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;	
	color: #fff;
	padding-top: 10px;
	border-top: 2px solid #63041a;
}

footer a {
	text-decoration: none;
	color: #fff;
}

footer a:hover {
	color: #8c9fa1;
}

footer img {
	padding: 0 5px;
}

@media screen and (max-width: 1199px) {
	
	header {
		width: 800px;
	}
	
	.wrapper {
		width: 800px;
	}
	
	#slideshow {
		top: 104;
		right: 0;
		height: 1230px;
	}
	
	#slideshow li:nth-child(1) a {
		width: 745px;
		height: 745px;
		top: 100px;
		right: 27px;
	}
	
	#slideshow li:nth-child(2) a {
		width: 284px;
		height: 285px;
		top: 845px;
		right: 488px;	
	}
	
	#slideshow li:nth-child(2) a img {
		width: 284px;
		height: 285px;
	}
	
	#slideshow li:nth-child(3) a {
		width: 280px;
		height: 285px;
		top: 845px;
		right: 208px;		
	}
	
	#slideshow li:nth-child(4) a {
		width: 180px;
		height: 165px;
		top: 965px;
		right: 28px;	
	}
	
	#slideshow li:nth-child(5) a {
		width: 110px;
		height: 120px;
		top: 845px;
		right: 28px;	
	}
	
	#slideshow li:nth-child(6) a {
		width: 70px;
		height: 120px;
		top: 845px;
		right: 138px;	
	}
	
	#slideshow li:nth-child(2) a span {
		background-color: #88e169;
		margin-top: 170px;
	}
	
	body.modellportefolje.single article, 
	body.blogg.single article {
		width: 800px;
	}
	
	#portfolio-menu {
		width: 800px;
	}
	
	#portfolio-menu li a {
	    font-size: 20px;
	    padding-top: 64px;
	    width: 114px;
	    height: 50px;
	    background-size: 114px 114px;
	}
	
	#portfolio-menu li a:hover {
		background-size: 124px 124px;
	}
	
	#portfolio-menu li a span {
		padding-top: 7px;
		padding-bottom: 10px;
	}
	
	body.pris #page article {
		width: 800px;
	}
	
	body.pris #page article table td:first-child {
		width: 700px;
	}
		
	body.om #page article {
		width: 800px;
	}
	
	body.om #page article p iframe {
		width: 400px;
	}
	
	body.om form input,
	body.om form textarea {
		width: 380px;
	}

	body.om form input[type=submit] {
		display: block;
		width: 385px;
	}
	
	body.om form input[type=submit]:hover {
		background-color: #76b600;
	}
}

@media screen and (max-width: 800px) {
	
	header {
		width: 400px;
		text-align: center;
	}
	
	.wrapper {
		width: 400px;
	}
	
	nav {
		left: 50%;
		margin-left: -180px;	
	}	
	
	#slideshow {
		top: 104;
		right: 0;
		height: 1285px;
	}
	
	#slideshow li:nth-child(1) a {
		width: 400px;	
		height: 400px;
		top: 100px;
		right: 0px;
	}
	
	#slideshow li:nth-child(1) a img {
		width: 400px;
		height: 400px;
	}
	
	#slideshow li:nth-child(2) a {
		width: 400px;
		height: 400px;
		top: 500px;
		right: 0;	
	}
	
	#slideshow li:nth-child(2) a img {
		width: 400px;
		height: 400px;
	}
	
	#slideshow li:nth-child(3) a {
		width: 220px;
		height: 285px;
		top: 900px;
		right: 180px;		
	}
	
	#slideshow li:nth-child(4) a {
		width: 180px;
		height: 165px;
		top: 1020px;
		right: 0;	
	}
	
	#slideshow li:nth-child(5) a {
		width: 110px;
		height: 120px;
		top: 900px;
		right: 0;	
	}
	
	#slideshow li:nth-child(6) a {
		width: 70px;
		height: 120px;
		top: 900px;
		right: 110px;	
	}
	
	#slideshow li:nth-child(1) a span {
		margin-top: 285px;
	}
	
	#slideshow li:nth-child(2) a span {
		margin-top: 285px;
	}
	
	body.om #page article {
		width: 400px;
	}
	
	body.om #page article p iframe {
		width: 400px;
	}
	
	body.pris #page article {
		width: 400px;
	}
	
	body.pris #page article table td:first-child {
		width: 300px;
	}
		
	body.modellportefolje.single article, 
	body.blogg.single article {
		width: 400px;
	}
	
	#portfolio-menu {
		width: 400px;
		margin-bottom: 40px;
	}
	
	#portfolio-menu li {
		float: none;
		margin-bottom: 0;
	}
	
	#portfolio-menu li a {
	    font-size: 24px;
	    padding-top: 0;
	    width: 400px;
	    height: 45px;
	    background-size: 0 0;
	}
	
	#portfolio-menu li a:hover {
		background-size: 0 0;
	}
	
	#portfolio-menu li a span {
		padding-top: 10px;
		padding-bottom: 15px;
	}
		
	#portfolio-menu .akt a {
		background-image: none;
	}
	
	#portfolio-menu .kunstfotografi a {
		background-image: none;
	}
	
	#portfolio-menu .bransje a {
		background-image: none;
	}
	
	#portfolio-menu .bryllup a {
		background-image: none;
	}
	
	#portfolio-menu .stemning a {
		background-image: none;
	}
	
	#portfolio-menu .modellportefolje a {
		background-image: none;
	}
	
	#portfolio-menu .portrett a {
		background-image: none;
	}
	
}


@media screen and (max-width: 320px) {

	body {
		width: 400px;
	}
	
	html {
		width: 400px;
	}
	
	header {
		width: 400px;
	}

	wrapper {
		width: 400px;
	}
	
	#page {
		width: 400px;
	}
		
	#page article table tbody tr td,	
	body.om article #body,
	body.pris article #body, 
	body.single article #body,
	body.om article h1, 
	body.pris article h1,
	body.single article h1,
	body.om article h2,
	body.pris article h2,
	body.om article p,
	body.pris article p,
	body.single #metadata {
		padding: 0 10px;
	}	
	
	body.om article p:first-of-type {
		padding: 0;
	}
	
	body.om #page article p iframe {
		height: 400px;
	}
	
	body.pris #page article table td:first-child {
		width: 265px;
	}
	
}










